header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
body {
  --border-radius: 4px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: url(../img/gym-training-1.jpg);
  background-size: cover;
  color: whitesmoke;
  flex-direction: column;

  /* max-height: fit-content; */
}
h1, h3, h4, h5, h6 {
  color: #ffc107;
}

.container {
  margin-top: 100px;
  flex: 1 1 auto;  /*grow vertically*/
}

.container-local {
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: #ffffff;
  color: black;
}


a {
  text-decoration: none;
  color: white;
}
header {
  padding: 1rem;
  height: 50px;
}
.btn {
  width: 100%;
}
.form-input {
  width: 100%;
}
button a {
  color: black;
}

.log-container {
  max-height: 400px;
}

.list-group {
  max-height: 400px;
  width: 400px;
}


.wd-100 {
  width: 100%;
}
.exercise-button {
  width: 80%;
}

.exercise-name {
  color: black;
  font-weight: bold;
  font-size: 20px;
}


.modal-title {
  color: black;
}


@media only screen and (max-width: 992px) {


 .row {
  flex-direction: column;
 }
 .col {
  flex-direction: row;
 }
} 

@media only screen and (max-width: 520px) {
  .exercise-list {
    max-width: 350px;
  }
}

@media only screen and (max-width: 400px) {
  .exercise-list {
    max-width: 300px;
  }
}